@model Galeri302.Models.yVites
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sil</h2>
<h3>Silmek istediğinize emin misiniz?</h3>

<div>
    <h4>Vites Bilgisi</h4>
    <hr />
    <dl class="row border">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Vites)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Vites)</dd>
     
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            @Html.ActionLink("Lİsteye geri dön", "Index")
        </div>
    }
</div>
